<p><% if user_signed_in? %>
<h1><strong> Title:</strong>
<%= @album.title %></h1>
<table>
<% @album.images.each do |image| %>
<tr>
	<td><strong>Images : </strong></td>
	<td><%= link_to image_tag(image.picture.url), image.picture.url %></td>
	<td><%= render image.tags %></td>
	<td><%= link_to 'Destroy', album_image_path(params[:id], image ), method: :delete, data: { confirm: 'Are you sure?'} %></td>
</tr>
<% end %>
</table>
<h3><%= link_to 'Add Image', new_album_image_path(@album) %> | 
<%= link_to 'Show Images', album_images_path(@album) %></h3>
<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>

<h1>Photo Description</h1>
<% @album.photos.each do |photo| %>
<p>
	<strong>Photo : </strong>
	description :<%= photo.description %>
	<%= image_tag photo.snap.url %>
</p>
<% end %>


<%= link_to "Sign In", new_user_session_path, :method => :get %>
<%= link_to "Sign up", new_user_registration_path, :method => :get %>

<% if @album.photos.any? %>
yes  snaps
<% else %>
no  snaps
<% end %>

<% end %>