<p><% if user_signed_in? %>
<strong> Title:</strong>
<%= @album.title %>
<%= form_for@album, :html => { :multipart => true } do |f| %>
	<p>
		
	</p>
	<p>
		<% f.submit %>
	</p>
<% end %>
<h3><%= link_to 'Add Image', new_album_image_path(@album) %></h3>
<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
<% else %>
<%= link_to "Sign In", new_user_session_path, :method => :get %>
<%= link_to "Sign up", new_user_registration_path, :method => :get %>

<% end %>