<%= render 'navbar' %>
<div class="container">
<div class="row">
<div class="col-md-9 col-md-offset-3"><div class="clearfix"></div>
<% if user_signed_in? %>
<br/><br/><br/>
<h1>New Image</h1>

<%= form_for @image_new, :html => { :multipart => true }, url: album_images_path do |f| %>
<% if @image_new.errors.any? %>
<div id="error_explanation">
<h2>
	<%= pluralize(@image_new.errors.count,"errors") %> prohibited this image from being saved:
</h2>
<ul>
	<% @image_new.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
</ul>
</div>
<% end %>
<div class="row">
	<h3 class="label label-default">upload an image :</h3> </div>
		<p><%= f.hidden_field :album_id, :value => @image_new[:album_id]  %>
		<div class="row"><%= f.file_field :picture %></p></div>
		<p>
			<div class="row"><%= f.label :image_tags,"Add Tags" %>
			<%= f.text_field :tag_list %></div>
		</p>
	<p>
	<%= f.submit %>
	</p>
<% end %>
<%= link_to 'Back', album_images_path() %>
<% else %>
<%= link_to "Sign In", new_user_session_path, :method => :get %>
<%= link_to "Sign up", new_user_registration_path, :method => :get %>

<% end %>
</div></div></div>